<div class="container">
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a routerLink="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">BlackJack Game</span>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      @if(accountService.currentPlayer()){
      <a class="me-3 py-2 text-dark text-decoration-none">Welcome {{accountService.currentPlayer()?.playername |
        titlecase}}</a>
      <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/players" routerLinkActive="active">Play</a>
      <a class="py-2 text-dark text-decoration-none" (click)="logout()" routerLink="/">Logout</a>
      }
      @if(!accountService.currentPlayer() && inLogInPage){
      <a class="py-2 text-dark text-decoration-none" routerLink="/login" (click)="isLoginPageSwitched()">Log in</a>
      }
      @else if (!accountService.currentPlayer() && !inLogInPage) {
      <a class="py-2 text-dark text-decoration-none" routerLink="/" (click)="isLoginPageSwitched()">Register</a>
      }
      <a class="me-3 ms-3 py-2 text-dark text-decoration-none" routerLink="/messages"
        routerLinkActive="active">Support</a>
    </nav>
  </div>
</div>