<app-nav></app-nav>
<div class="container">
    @if (loginMode){
    <app-login></app-login>
    } @else {
    <app-home (registerModeStatusToApp)="setLoginMode($event)"></app-home>
    }
    <!-- <table bgColor="black" width="300" border="1px">
        <tr bgColor="grey" align="center">
            <th width="100">
                ID
            </th>
            <th width="100">
                Balance
            </th>
            <th width="100">
                Player
            </th>
        </tr>
        @for (player of players; track player.id) {
        <tr bgColor="lightgrey" align="center">
            <td>
                {{player.id}}
            </td>
            <td>
                {{player.playerBalance}}
            </td>
            <td>
                <span style="font-weight: bold;">
                    {{player.playerName}}
                </span>
            </td>
        </tr>
        }
    </table> -->
</div>